<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Color1" value="0,255,255" />
    <add key="Color2" value="135,206,250" />
    <add key="Color3" value="255,228,196" />
    <add key="Color4" value="0,255,0" />
    <add key="Color5" value="255,0,255" />
    <add key="Color6" value="138,43,226" />
    <add key="Color7" value="102,205,170" />
    <add key="Color8" value="222,184,135" />
    <add key="Color9" value="186,85,211" />
    <add key="Color10" value="210,105,30" />
    <add key="Color11" value="255,20,147" />
    <add key="Color12" value="105,105,105" />
    <add key="Color13" value="250,128,114" />
    <add key="Color14" value="173,255,47" />
    <add key="Color15" value="112,128,144" />
    <add key="Color16" value="255,255,0" />
    <add key="Color17" value="255,160,122" />
    <add key="Color18" value="0,0,0" />
    <add key="Color19" value="40,79,79" />
    <add key="Color20" value="30,144,255" />
    <add key="Color21" value="46,139,87" />
    <add key="Color22" value="46,110,87" />
    <add key="Color23" value="46,110,40" />
    <add key="Color24" value="45,110,40" />
    <add key="Color26" value="40,110,40" />
    <add key="Color27" value="200,100,30" />
    <add key="Color28" value="201,101,31" />
    <add key="Color29" value="150,80,44" />
    <add key="Color30" value="151,99,200" />  
    <add key="Color31" value="100,45,87" />
    <add key="Color32" value="34,55,87" />
    <add key="Color33" value="55,34,40" />
    <add key="Color34" value="22,56,40" />
    <add key="Color36" value="1,77,44" />
    <add key="Color37" value="77,88,99" />
    <add key="Color38" value="255,101,31" />
    <add key="Color39" value="255,56,44" />
    <add key="Color40" value="249,99,200" />
    <add key="Color41" value="66,89,1" />
    <add key="Color42" value="53,55,90" />
    <add key="Color43" value="33,55,44" />
    <add key="Color44" value="44,21,90" />
    <add key="Color46" value="66,43,12" />
    <add key="Color47" value="34,56,78" />
    <add key="Color48" value="29,121,31" />
    <add key="Color49" value="67,34,44" />
    <add key="Color50" value="20,44,1" />
    <add key="Number of items" value="3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v4.0" />
  </startup>-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>


  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>